#!/bin/bash
export NODE_EXTRA_CA_CERTS=/etc/pki/ca-trust/source/anchors/RH-IT-Root-CA.crt
# TODO revert after https://github.com/probot/smee-client/pull/162 is merged and smee-client released!!
# smee -u {{ lookup('env','WEBHOOK_URL') }} -t {{ lookup('env','TARGET_URL') }}
/root/smee-client/bin/smee.js -u {{ lookup('env','WEBHOOK_URL') }} -t {{ lookup('env','TARGET_URL') }}
