#!/bin/bash
export NODE_EXTRA_CA_CERTS={{ nodejs_cert_file }}
# TODO revert after https://github.com/probot/smee-client/pull/162 is merged and smee-client released!!
# smee -u {{ webhook_url }} -t {{ target_url }}
/root/smee-client/bin/smee.js -u {{ webhook_url }} -t {{ target_url }}
